/* Form Layout */

.tasks {
    font-size: 15px;
    text-align: center;
    justify-content: flex_start;
}

.tasks ul {
    font-size: 15px;
    justify-content: flex_start;
}

.task_edit {
    font-size: 15px;
    text-align: center;
}

.task_edit input {
    background: #3c5a6e;
    border: none;
    border-bottom: 2px solid #e9e9e9;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    height: 50px;
    transition: border-color 0.3s;
    width: 100%;
}

.task_edit input:focus {
    border-bottom: 2px solid #233b4b;
    outline: none;
}

.task_edit .edit_button {
    background: #233b4b;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width: 100%;
}

.edit_button:hover {
    background: #15232c;
}

.task_edit .bye_button {
    background: #ff9494;
    justify-content: center;
    border-bottom: none;
    font-size: 13px;
    list-style: none;
    font-family: 'Chakra Petch', sans-serif;
}

.bye_button:hover {
    cursor: pointer;
    text-decoration: none;
    background: #ff0000;
}